body {background-color: bisque;}
.q1 {
    width: 160px;
    height: 170px;
    border-radius: 20px;
    background-color: white;
    margin: auto;
    margin-top: 100px;
}
.w1 {
    font-size: 60px;
}
p {
    padding-left: 40px;
}
button {
    margin-left: 45px;
    background-color: orange;
    border-radius: 10px;
    border: none;
    color: white;
}